<div id="logo">                    <img class="logo" src="/blog/img/icon.png" />                </div>
<div id="banner">                   <img class="banner" src="/blog/img/blogimg/profile.jpg" />          </div>
                <div id="main-menu">
                    <!-----------      Menu       -------------->
                    <ul>
                        <li><?php echo $this->HTML->link('HomePage' , '/blogs/index'); ?></li>
                        <li><?php echo $this->HTML->link('Quân Sự', '/blogs/index/1'); ?></li>
                        <li><?php echo $this->HTML->link('Xã Hội', '/blogs/index/2'); ?></li>
                        <li><?php echo $this->HTML->link('Thể Thao', '/blogs/index/3'); ?></li>
                        <li><?php echo $this->HTML->link('Giáo Dục', '/blogs/index/4'); ?></li>
                        <li><?php echo $this->HTML->link('Văn Hóa', '/blogs/index/5'); ?></li>
                        <li><?php echo $this->HTML->link('Giải Trí', '/blogs/index/6'); ?></li>
                        <li><?php echo $this->HTML->link('Sức Mạnh Số', '/blogs/index/7'); ?></li>
                        <li style="height:30px;padding-top:-5px"><?php echo $this->element('search'); ?></li>
                    </ul>
                </div>