<h2><?php echo __('Tin ngẫu nhiên'); ?></h2>
    <?php foreach ($listblog as $listblogs): ?>
    <?php echo $this->Html->image("/img/blogimg/".$listblogs['Blog']['path_image'],array('height'=>'50px') ); ?><br/>
    <?php echo $this->Html->link($listblogs['Blog']['title'], array('controller' => 'Blogs', 'action' => 'view',
    $listblogs['Blog']['id'])); ?><br/>    
    <i class="fa fa-comments"><?php echo " ".$listblogs['Blog']['comment_count']." " ; ?>comments</i>
    <hr><br/>
<?php endforeach; ?>