<div class="relatedblog">
    <h3>Tin Liên Quan</h3>
    <?php if (!empty($related_blogs)): ?>	
	<?php foreach ($related_blogs as $related_blog): ?>
            <?php echo $related_blog['Blog']['title']; ?>
            <?php echo $this->Html->image("/img/blogimg/" . $related_blog['Blog']['path_image'], array('class'=>'imgg')); ?> </br>
        <?php endforeach ?>
    <?php endif; ?>
</div>