<h2><?php echo __('Tin  Mới Nhất'); ?></h2>


<?php foreach ($blogs as $blog): ?>

    <?php echo $this->Html->link($blog['Blog']['title'], array('controller' => 'Blogs', 'action' => 'view', $blog['Blog']['id'])); ?><br/>
    <?php echo $this->Html->image("/img/blogimg/".$blog['Blog']['path_image'],array('height'=>'200') ); ?>
    <?php echo $this->Text->truncate(($blog['Blog']['content']),200); ?><br/><br/>
    Ngày Đăng: <?php echo ($blog['Blog']['created']); ?><br/>
    Cập Nhật Mới: <?php echo ($blog['Blog']['updated']); ?><br/>
    Người Đăng: <strong><?php echo ($blog['User']['name']); ?></strong><br/>

    <br/>
    <hr>

<?php endforeach; ?>