<div class="blogs index">
	<h2><?php echo __('Tin  Mới Nhất');?></h2>
	<?php echo $this->element('blogs'); ?>

	<div class="paging">
		<?php echo $this->element('pagination'); ?>
	</div>

</div>





