<!--


-->

<div class="info">
    <span>Login : <?php echo $name;?> | <a href="logout">Logout</a></span><br/>
    <h2>Chúc mừng bạn đã đăng nhập thành công !</h2><br/>
    <h1>Đang chuyển hướng đến trang chủ...</h1>
<!--
   Countdown and auto redirect to Blog

-->
    <p>You will be redirected in <strong><span id="counter">10</span></strong> second(s).</p>
    <script type="text/javascript">
        function countdown() {
            var i = document.getElementById('counter');
            if (parseInt(i.innerHTML)<=1) {
                location.href = '../blogs/';
            }
            i.innerHTML = parseInt(i.innerHTML)-1;
        }
        setInterval(function(){ countdown(); },1000);
    </script>
</div>
