
<h2><?php echo __('Register'); ?></h2>
<?php
echo $this->Form->create('User');
echo $this->Form->inputs(array("name", "username", "password", "email", "sex"=>array("type" =>"radio", "options"=>array(1=>"Nam",2=>"Nữ",3=>"3D")), "birthday"));
echo $this->Form->end(__('Register'));



/**
<div class="users form">
    <?php echo $this->Form->create('User'); ?>
    <fieldset>
        <legend><?php echo __('Add User'); ?></legend>
        <?php
        echo $this->Form->input('username');
        echo $this->Form->input('email');
        echo $this->Form->input('password');
        ?>
    </fieldset>
    <?php echo $this->Form->end(__('Submit')); ?>
</div>
*/